/nbproject/private/
/build/
/dist/
/solucionparcial/dist/
/nominav3/build/
/nominav3/nbproject/private/
/nominav3conlogin/build/
/nominav3conlogin/nbproject/private/
/nominav3login/nominav3/build/
/nominav3login/nominav3/nbproject/private/
/listas/ListasEnlazadas/build/
/listas/ListasEnlazadas/nbproject/private/
/Pilas/build/
/Pilas/dist/
/Pilas/nbproject/private/